<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="./styles/style.css">

    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
  <body>
    <header>
      <h1>Это простой сайт на html</h1>
      <p>Простые ссылки</p>
      <nav>
        <ul>
          <li><a href="">Эта страница</a></li>
          <li><a href="/admin">Админ панель</a></li>

        </ul>
      </nav>
    </header>
    <header>
      <p>Мои контакты </p>
      <nav>
        <ul>
          <li><a href="https://vk.com/qereq">Вконтакте</a></li>
          <li><a href="https://t.me/qereq">Телеграмм</a></li>
        </ul>
      </nav>
    </header>
    <footer>
      <p>Время -- {{ dt }}</p>
    </footer>
  </body>
</html>