{% extends 'core/base.html' %}

{% block content %}
    <header>
      <h1>Это простой сайт на html</h1>
      <p>Простые ссылки</p>
      <nav>
        <ul>
          <li><a href="">Эта страница</a></li>
          <li><a href="/admin">Админ панель</a></li>
          <li><a href="/persons">Личный кабинет</a></li>
        </ul>
      </nav>
    </header>
    <footer>
      <p>Время -- {{ dt }}</p>
      <p>Часовой пояс -- {{ tp }}</p>
    </footer>
   <p>Ваши данные</p>
  <li><a>Имя -- {{ person }}</a></li>
  <li><a>Телефон -- {{ phone }}</a></li>
{% endblock %}
