<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-1 mb-4 border-bottom">
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">main</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/todolist">todo</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/todo">todoJson</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/admin">Admin</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/persons">Test</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="https://vk.com/qereq">Вконтакте</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="https://t.me/qereq">Телеграмм</a>
      </nav>
    </div>

    <h1>Todo_list</h1>
    <p>ИМЯ {{ name }}</p>
    <p>ЗАДАЧА {{ content }}</p>
    <p>ДАТА НАЧАЛА {{ created }}</p>
    <p>ДАТА ЗАВЕРШЕНИЯ {{ due_date }}</p>
</body>
</html>